*.DS_Store
*.bckp
*.log
*.bak
*.tmp
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.jar
*.lock
.*
!/.gitignore
venv/
logs/
bgee_v14_2_9606.csv
ens2wikidata_ids.csv
inserted_statements.csv
*bckp.csv
*_remove
test.py