[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wikidataintegrator = "0.8.4"
sparqlwrapper = "1.8.5"
pandas = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
